@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(../fonts/Open_Sans/OpenSans-LightItalic.ttf) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf) format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Open_Sans/OpenSans-Bold.ttf) format('woff2');
}

@font-face {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/IcoMoon/IcoMoon-Free.ttf) format('woff2');
}
