<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link rel="icon" type="image/png" href="{{'assets/images/favicon.png'|theme}}">
    <link rel="stylesheet" href="{{'assets/vendor/bootstrap/bootstrap.min.css'|theme}}" type="text/css">
    <link rel="stylesheet" href="{{'assets/vendor/bootstrap/bootstrap-icons.css'|theme}}" type="text/css">
    <link rel="stylesheet" href="{{'assets/css/styles.css'|theme}}" type="text/css">
</head>
<body>

{% partial 'header' %}

<main>
    {% page %}
</main>

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-footer-info">
                    <h4>O Portal</h4>
                    <ul>
                        <li><a href="javascript:">Sobre</a></li>
                        <li><a href="javascript:">Contato</a></li>
                        <li><a href="javascript:">Privacidade</a></li>
                        <li><a href="javascript:">Equipe</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-footer-info">
                    <h4>Últimas noticias</h4>
                    <ul>
                        <li><a href="javascript:">Goianira</a></li>
                        <li><a href="javascript:">Economia</a></li>
                        <li><a href="javascript:">Esportes</a></li>
                        <li><a href="javascript:">Segurança</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-footer-info">
                    <h4>Newsletter</h4>
                    <p>Fique por dentro de tudo que rola no portal em primeira mão.</p>
                    <form action="">
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Seu melhor email">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="copyright">
                    <p>© 2011 - 2021 - Todos os direitos reservados</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="{{'assets/vendor/bootstrap/bootstrap.bundle.min.js'|theme}}"></script>
<script type="text/javascript" src="{{'assets/js/site.js'|theme}}"></script>
</body>
</html>
